.naviBar {
    .fa-chevron-left {
        @extend %blueLink;
        color: white;
        cursor: pointer;
    }
    nav {
        padding: 15px;
        @include flexBox(row);
        @include flexAlign(baseline, flex-start);
        flex-wrap: nowrap;
        div:last-child {
            margin-left: auto;
        }
    }
}