#app {
    .modal-backdrop {
        max-width: 576px;
        transform: translateX(-50%);
        left: 50%;
    }

    .modal-header {
        .modal-title {
            font-size: $font-lg;
        }
        
    }

    .modal-body {
        font-size: $font-md;
    }

    .modal-footer {
        button {
            font-size: $font-md;
        }        
    }
}